.item-pizza{

  h1{
    font-size:16px;
    font-weight: bold;
  }
  p{
    font-size:13px;
    font-weight: 300;
    color:#8f8e8e;
  }

}

.item-preco{
  width:40px;
  height:38px;

  .moeda{
    font-weight: 300;
  }
}

